<!-- flashcardsjs/card.html -->
{% block stylehead %}
<style nonce="{{ request.csp_nonce }}">
    html, body{
        padding: 0%;
        display: block;
        margin-top: 1%;
    }
    #boxes-main{
      display: block;
      text-align: center; /* center all children of the <boxes-main> element */
      padding: 0%;
      margin: 0%;
      width: 100%;
    }
    
    #button-check, #button-x{
        margin-top: 1%;
        display: inline;
        height: 6vh;/*height = 64px and width = 232px*/
        width: 42vw;
    }
    
    #hyperlink-check, #hyperlink-x{
        
        color: #eee;
    }
    #details-reveal-answer{
        margin-bottom: 1em;
    }

    
   
  
</style>

{% endblock stylehead %}
<main id="boxes-main">
  <h3 id="boxnum"></h3>
  <article id="box-article">
    <h4 id="card-question"></h4>
    <p id="card-answer-transparent"></p>
    
    <details id="details-reveal-answer">
        <summary>Reveal Answer</summary>
        <p id="card-answer">{{ card.answer }}</p>
    </details>
    
    <a id="hyperlink-check" href="/"><button id="button-check" class="btn btn-primary"><img src="/static/flashcardsjs/images/icons/check-solid.svg"> I Know</button></a>
    <a id="hyperlink-x" href="/"><button id="button-x" class="btn btn-primary"><img src="/static/flashcardsjs/images/icons/x-solid.svg"> I Don't Know</button></a>
       
        
        <hr>
        
</article>
</main>
