{% extends 'flashcardsjs/base-javascript.html' %}
{% load humanize %}
{% block customheadtags %}

<!--bootstrap minified reduced size css version-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!--links to javascript files-->
<!--the latest version jquery 3.5 should come before bootstap-min.js-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!--Popper.js is a popular JavaScript library used for positioning tooltips and popovers in web applications.-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!--default questions are in questions.js code snippet-->
<script src="/static/flashcardsjs/js/questions.js"></script>

{% endblock customheadtags %}

  {% block title %}
  Spaced Learn Pro - flashcard box system
  {% endblock %}
  
  {% block description %}
  <meta name="description" content="Flashcards app that uses the 'flashcard box system' to organize and use flashcards in a systematic way to enhance learning through spaced repetition.">
    
  {% endblock %}

  {% block stylehead %}
  <style nonce="{{ request.csp_nonce }}">
    html, body{
      margin: 0;
      display: block;
      /*max-width: 99.173%;*/
     
    }
    
    #footer{
      padding-left: 20%;
    }
    #stat-details{
      color:white;
    }
    .upload-questions-label{
      color:white;
    }
    .icon-checkmark,.icon-close{
      color:white;
    }
    
    #index-main{
      display: block;
      text-align: center; /* center all children of the <main> element */
      padding: 0%;
      margin: 0%;
      width: 100%;
    }
    #main-update-flashcard{
      display: none;
    }

    #row1{
      padding-top:5% ;
    }

    #textarea-question, #textarea-answer{
      width: 50em;
    }

  </style>
  {% endblock stylehead%}

  {% block content %}
    
    <main id="index-main">
      <h2>
        All Cards
    </h2>
    <a href="{% url 'editFlashcards' %}" role="button">
        ✨ Create New Card
    </a>
    
    <span id="insert-html-here"></span>
    
    </main>

    <main id="main-update-flashcard">

      <article>
      <form id ="form-flashcards" method = "post">
            {% csrf_token %}
    
                    <table>
                      <tr><td>Question</td></tr>
                      <tr><td><textarea id="textarea-question">Question for this flashcard</textarea></td></tr>
                      <tr><td>Answer</td></tr>
                      <tr><td><textarea id="textarea-answer">Answer for this flashcard</textarea></td></tr>
                    </table>
                    
          
                    <button id="button-save-flashcard" class="btn btn-primary">Save Flashcard</button>
        
      </form>

      
  </article>
  </main>

    <!-- html for box page goes here -->
    {% include 'flashcardsjs/card.html' %}
    
  

  {% endblock content %}

  <!-- footer goes here...-->
  {% block footer %}
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
         <div class="col-12 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              &copy2024 YourWebsite.com   
             </p>
          </div>
      
      </div>
    </div>
  </footer>
  {% endblock %}

  {% block script %}
  <script nonce="{{ request.csp_nonce }}">
    // GLOBAL VARIABLES
    let clean_question
    let clean_answer
    let parameters_box=1
    let mycards
    let inputarea, flashcard, reference,flashcards
    let buttonflag=false
    let flashcardsToAppend;let parsedFlashcards;
    let myArrayMatchValue;
    let strmyFlashCards;
    let box1=[];let box2=[];let box3=[];
    const main = document.getElementById("index-main")
    const main_update_flashcard = document.getElementById("main-update-flashcard")
    const card_question = document.getElementById("card-question")
    const card_answer = document.getElementById("card-answer")
    const textarea_question = document.getElementById("textarea-question")
    const textarea_answer = document.getElementById("textarea-answer")
    const button_save_flashcard = document.getElementById("button-save-flashcard")
    const boxnum = document.getElementById("boxnum")
    const boxes_main = document.getElementById("boxes-main")
    const insert_html = document.getElementById("insert-html-here")
    const box_article = document.getElementById("box-article")
    const hyperlink_check = document.getElementById("hyperlink-check")
    const hyperlink_x = document.getElementById("hyperlink-x")
    let global_random_flashcard_index
    let global_random_flashcards
    let textarea_question_value = ""
    let textarea_answer_value = ""
    let question_changed = false
    let answer_changed = false

    textarea_question.addEventListener(("input"),(event)=>{
      textarea_question_value = textarea_question.value
      question_changed = true
    })

    textarea_answer.addEventListener(("input"),(event)=>{
      textarea_answer_value = textarea_answer.value
      answer_changed = true
    })

    hyperlink_check.addEventListener(("click"),(element) =>{
    let updated = false; // Flag to track if a card was updated

    for (let i = 0; i < mycards.length; i++) {
     if (mycards[i]['answer'] === global_random_flashcards[global_random_flashcard_index]['answer']) {
      if (parseInt(parameters_box) + 1 <= 5) {
        mycards[i]['box'] = parseInt(parameters_box) + 1;
        localStorage.setItem("flashcards", JSON.stringify(mycards));
        updated = true; // Mark as updated
      }
      else{
        window.location.href = `{% url 'showFlashcards' %}?box=${parameters_box}`;
      }

      break // Exit the loop after updating one card
    }
  }

    if (updated) {
    // Redirect only if a card was updated
    // Bug Fixed - The page was redirecting every time with no conditional flag set
       window.location.href = `{% url 'showFlashcards' %}?box=${parameters_box}`;
    }

  })

  hyperlink_x.addEventListener("click",(event)=>{
    for(let i=0;i<mycards.length;i++){
        if(mycards[i]['answer']===global_random_flashcards[global_random_flashcard_index]['answer']){
          mycards[i]['box']=parseInt("1")
          localStorage.setItem("flashcards", JSON.stringify(mycards))
          updated=true
          break
        }
      }
      if (updated) {
    // Redirect only if a card was updated
    // Bug Fixed - The page was redirecting every time with no conditional flag set
        window.location.href = `{% url 'showFlashcards' %}?box=${box}`;
  
      }
  })

  const capitalizeWords=(inputString)=>{
    // \w matches any word character, equivalent to [a-zA-Z0-9_]
    return inputString.replace(/\b\w/g, function(match) {
        return match.toUpperCase();
    });
  }

  const showRandomFlashcard=(box)=>{
      boxnum.innerHTML+=`<h3>${pluralize('st', parseInt(box))} Box</h3>`
      card_question.innerHTML = global_random_flashcards[global_random_flashcard_index]['question']
      card_answer.innerHTML = global_random_flashcards[global_random_flashcard_index]['answer']
      hyperlink_check.href=`{% url 'showFlashcards' %}?box=${global_random_flashcards[global_random_flashcard_index]['box']}&check=true`
      hyperlink_x.href=`{% url 'showFlashcards' %}?box=${global_random_flashcards[global_random_flashcard_index]['box']}&x=true`
  }

  const saveToLocalStorage=(question, answer)=>{
      let match=false;let parsed_question;let unparsed_question;let unparsed_answer
      let updated=false
      unparsed_question=question
      unparsed_answer=answer
      try{
        parsed_question=capitalizeWords(unparsed_question).trim()
        for (let i=0;i<mycards.length;i++){
          if(capitalizeWords(mycards[i]['question']).trim()===parsed_question){
            console.log("capitalized = ",parsed_question, mycards[i]['question'])
            match=true
          }
         }
      } 
      catch (error){
        console.error("An error occurred:", error.message);
      }
      finally {
        // Code that will always be executed
        console.log("This will be executed no matter what.");
      }

      if(match===true){
        const confirm_save_flashcard = window.confirm(`Would you like to save the changes made to this flashcard?`) 
        if(confirm_save_flashcard){
          for(let i=0;i<mycards.length;i++){
            if(mycards[i]['question']==unparsed_question){
              if(question_changed){
                mycards[i]['question']=textarea_question_value.replace(/'/g,"")
                question_changed=false
              }

              if(answer_changed){
                mycards[i]['answer']=textarea_answer_value.replace(/'/g,"")
                answer_changed=false
              }
              // card has now been updated in mycards
              updated=true
              break
            }
            
          }

          if(updated){
            // localStorage.clear() clears everything stored in the localStorage for the current domain.
            localStorage.clear()
            localStorage.setItem("flashcards",JSON.stringify(mycards))//convert mycards  back into a string
            window.alert(`This flashcard has been successfully edited.`)
            window.location.href = ""
          }
          
        }
       
      }
      else{
        window.location.href = ""

      }

      
  // end saveToLocalStorage    
  }


    
window.onload = function () {
  boxes_main.style.display="none"
  main_update_flashcard.display="none" 

  flashcardsToAppend=[{'question':'And I stood upon the sand of the sea, and saw a beast rise up out of the sea, having seven heads \
     and ten horns, and upon his horns ten crowns, and upon his heads the name of blasphemy.','answer':'Revelation 13:1'},
     {'question':'test question','answer':'answered question',   }]
  
  mycards=JSON.parse(localStorage.getItem("flashcards")) || []
  
  tallyBoxes(mycards)
  
// Initialize a Set to store unique box numbers
let inserted_questions = new Set();
let html = ''
let counted_boxes1 = false
let counted_boxes2 = false
let counted_boxes3 = false
let counted_boxes4 = false
let counted_boxes5 = false


// sort mycards in ascending order by box #
mycards.sort((a, b)=>a['box']-b['box'])

for(let i = 0; i < mycards.length; i++) {
    // check to see if the box number is already inserted
    if (!inserted_questions.has(mycards[i]['question'])) {
        // if not add the box number to the set of inserted boxes
        inserted_questions.add(mycards[i]['question']);
        switch (mycards[i]['box']){
          case 1: 
            if(counted_boxes1===false){
              html+=`<h3>${pluralize('st', mycards[i]['box'])} Box</h3>`
              counted_boxes1=true
            }
            break
          case 2: 
            if(counted_boxes2===false){
              html+=`<h3>${pluralize('st', mycards[i]['box'])} Box</h3>`
              counted_boxes2=true
            }
            break
          case 3: 
            if(counted_boxes3===false){
              html+=`<h3>${pluralize('st', mycards[i]['box'])} Box</h3>`
              counted_boxes3=true
            }
            break
          case 4: 
            if(counted_boxes4===false){
              html+=`<h3>${pluralize('st', mycards[i]['box'])} Box</h3>`
              counted_boxes4=true
            }
            break
          case 5: 
            if(counted_boxes5===false){
              html+=`<h3>${pluralize('st', mycards[i]['box'])} Box</h3>`
              counted_boxes5=true
            }
            break
        }
        
        html += `<article class="article-allcards"><h4>${mycards[i]['question']}</h4><p>${mycards[i]['answer']}</p></article>
        <a href="{% url 'showFlashcards' %}?box=${mycards[i]['box']}" role="button">
            Box
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a id ="update-flashcard${i}" href="{% url 'showFlashcards' %}?update-flashcard${i}">update</a>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'showFlashcards' %}?pk=${i}&box=${mycards[i]['box']}&delete=true" role="button">
            Delete
        </a>`;

    
        
    }
}

insert_html.innerHTML=html

for(let i = 0; i < mycards.length; i++) {

  // Add event listener to the dynamically generated update-flashcard link
  document.querySelector(`#update-flashcard${i}`).addEventListener('click', function(event) {
        // Prevent default link behavior
        event.preventDefault();
        
        // Get the index from the link's href attribute
        const index = parseInt(this.getAttribute('href').match(/\d+/)[0]);
        
        // Your custom logic here, for example:

        main.style.display="none"
        main_update_flashcard.style.display="block"
        clean_question=mycards[i]['question']
        clean_answer=mycards[i]['answer']
        textarea_question.innerHTML = clean_question
        textarea_answer.innerHTML = clean_answer

    });

    // save updated flashcard
    button_save_flashcard.addEventListener(("click"),(event)=>{
      event.preventDefault()
      saveToLocalStorage(clean_question, clean_answer)
      //redirect to main page
      //window.location.href = ""
    })
}

const article_allcards=document.getElementsByClassName("article-allcards")
for(let i=0;i<article_allcards.length;i++){
  article_allcards[i].style.width="98%"
  // center this article - 0 margin from top and bottom - auto (Automatic Left and Right Margin) 
  article_allcards[i].style.margin = "0 auto"
  article_allcards[i].style.textAlign="left"
}

box_article.style.width="98%"
box_article.style.margin= "0 auto"
box_article.style.textAlign="left"
parsedFlashcards=mycards
    
// Get the search parameters from the URL
const url_parameters = new URLSearchParams(window.location.search);

// Get the value of a parameter
const primary_key = url_parameters.get('pk');
// Get box number as an integer
parameters_box = url_parameters.get('box')
const delete_flashcard = url_parameters.get('delete')
const check = url_parameters.get('check')
const x = url_parameters.get('x')

if(primary_key && parameters_box && delete_flashcard){
  // convert pk to an int using parseInt(pk)
  const index = parseInt(primary_key)
  let confirmation = window.confirm(`Are you sure you want to delete "${mycards[index].question}"\n\n`)
  let true_statement = true
  if(confirmation){
    // only delete the primary_key index 
    mycards.splice(index, 1)
    localStorage.setItem("flashcards", JSON.stringify(mycards))
    // refresh the page to get an updated set of bible-flash-cards from localStorage
    
  }
  window.location.href="{% url 'showFlashcards' %}"
}

if(parameters_box && !delete_flashcard){
  global_random_flashcards = []
  
  for(i=0;i<mycards.length;i++){
    if(mycards[i]['box']===parseInt(parameters_box)){
      global_random_flashcards.push(mycards[i])
    }
  }

  global_random_flashcard_index=Math.floor(Math.random()*global_random_flashcards.length)
  
  main.style.display="none"
  if(global_random_flashcards.length>=1){
    boxes_main.style.display="block"
    showRandomFlashcard(parameters_box)
  }
  else{
    boxes_main.style.display="none"
  }
    
  // display:block is the default for the <div> element
  // hide everything in the <main> element
  main.style.display="none"

  
  
// end if(box && !delete_flashcard)
 }
  
//end window.onload function
}

  

</script>

<script src="/static/flashcardsjs/js/tally-boxes.js" ></script>

  {% endblock script%}
