<!-- bibleflashcardsjs/templates/bibleflashcardsjs/navigation-javascript.html -->

<nav>
    <a href="{% url 'showFlashcards' %}"> All Cards</a>
    <a id="first-box" href="{% url 'showFlashcards' %}?box=1">1st Box</a>
    <a id="second-box" href="{% url 'showFlashcards' %}?box=2">2nd Box</a>
    <a id="third-box" href="{% url 'showFlashcards' %}?box=3">3rd Box</a>
    <a id="fourth-box" href="{% url 'showFlashcards' %}?box=4">4th Box</a>
    <a id="fifth-box" href="{% url 'showFlashcards' %}?box=5">5th Box</a>

</nav>